<div class="container-fluid text-left">
    <h2>GET API Results</h2>

    <p>Factory results list from factory:</p>


    <div ng-show="factoryList != null">

        <p>How many Factory users: {{ factorySize }}</p>
        <br><br>

        <p>Factory Users in Angular ng-repeat loop:</p>
        <li ng-repeat="user in factoryList">
            <br>
            First: {{ user.firstname }} <br>
            Last: {{ user.lastname }} <br>
            Username: {{ user.username }} <br>
            Password: {{ user.password }} <br>
            Email: {{user.email}} <br>
        </li>
    </div>

    <div ng-show="errorMsg != null">
        {{ errorMsg }}
    </div>

</div>